html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    overflow: hidden;
}

html, body, .full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

h1 {
    font-weight: 400;
    font-size: 48px;
}

h2 {
    font-weight: 300;
    font-size: 36px;
}

h3 {
    font-weight: 300;
    font-size: 24px;
}

.text-center {
    text-align: center;
}

.margin {
    margin: 16px;
}

/*Flex display classes:*/

.flex-container {
    display: flex;
    gap: 8px;
}

.flex-horizontal {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

    .flex-horizontal.mobile {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

.scrollable .scrollable-mobile {
    overflow: hidden auto;
}

.flex-vertical {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-center-parallel, .flex-center {
    -webkit-justify-content: center;
    justify-content: center;
}

    .flex-center-parallel.mobile, .flex-center.mobile {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }

.flex-center-perpendicular, .flex-center {
    -webkit-align-items: center;
    align-items: center;
}

.flex-top-perpendicular {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-bottom-perpendicular {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

@media only screen and (min-width: 768px) {
    .flex-horizontal.mobile {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        overflow: hidden;
    }

    .scrollable-mobile {
        overflow: hidden;
    }

    .flex-center-parallel.mobile, .flex-center.mobile {
        -webkit-justify-content: center;
        justify-content: center;
    }
}