.background {
    background: url("../images/Icon-mono.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background-color {
    background-color: rgb(34,34,34);
}

.accent {
    background-color: rgb(128,0,0);
}

.chrome {
    background-color: rgb(68,68,68);
}

.acrylic {
    background-color: rgba(68,68,68,0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.splash {
    width: 50%;
    height: 50%;
}

/*CSS Scrollbar customization:*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(96, 96, 96);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(128, 128, 128);
    }