.background {
    background: url("../images/Icon-mono.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background-color {
    background-color: rgb(34,34,34);
}

.panel {
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
}

.accent {
    background-color: rgb(128,0,0);
}

.chrome {
    background-color: rgb(68,68,68);
}

.acrylic {
    background-color: rgba(68,68,68,0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.splash {
    width: 25%;
    height: 25%;
}