@page "/"
@using ViewModels
@using System.Collections.Specialized
@inject IBlazorViewProvider ViewProvider
<div class="full-width full-height flex-container flex-vertical">
    <div class="chrome acrylic"><h1>RHS Latin Club</h1></div>
    <div class="scrollable" style="height: 100px">
@foreach(var item in ViewModel.Events) 
{
        <div class="flex-container flex-center flex-horizontal mobile margin padding accent rounded-corners">
            <div class="margin" style="flex-grow: 1">
                 <h2>@item.Name</h2>
            </div>
            <div class="flex-container flex-center flex-vertical" style="flex-grow: 2">
                <div class="margin">
                    @item.StartTime.ToString("dd MMMM yyyy - HH:mm")
                </div>
                <div class="margin">
                    @item.Description
                </div>
            </div>
        </div>
}
    </div>
</div>

@code
{
    public MainViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = (ViewProvider.CurrentView as BlazorView<MainViewModel>)?.ViewModel;
        if(ViewModel != null)
        {
            ViewModel.PropertyChanged += ViewModelChanged;
            ViewModel.Events.CollectionChanged += ViewModelChanged;
        }
    }

    private void ViewModelChanged(object sender, NotifyCollectionChangedEventArgs e) => ViewModelChanged();
    private void ViewModelChanged(object sender, PropertyChangedEventArgs e) => ViewModelChanged();
    private void ViewModelChanged()
    {
        StateHasChanged();
    }
}
