@page "/"
@using ViewModels
@inject IBlazorViewProvider ViewProvider

<div class="is-flex is-justify-content-center is-align-content-center">
    Hello World!
</div>

@code
{
    public MainViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = (ViewProvider.CurrentView as BlazorView<MainViewModel>)?.ViewModel;
        if(ViewModel != null)
        {
            ViewModel.PropertyChanged += ViewModelChanged;
        }
    }

    private void ViewModelChanged(object sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }
}
